<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255682301629-kreepc5sukh1gfl8grjm18m34cpud6dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255682301629-kreepc5sukh1gfl8grjm18m34cpud6dg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>255682301629-27ci3vr7qqfcbepfpmhcemqmu3to6r9l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHeS8AONjpKJ5OI69fyvP_9hr1NnQXKhc</string>
	<key>GCM_SENDER_ID</key>
	<string>255682301629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.oldon</string>
	<key>PROJECT_ID</key>
	<string>old-on-8100r2</string>
	<key>STORAGE_BUCKET</key>
	<string>old-on-8100r2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255682301629:ios:b00081c51594943672f1d4</string>
</dict>
</plist>